<!DOCTYPE html>
<html lang="pt-br"></html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Contatos</title>
    <link rel="icon" href="../../img/iconfinder_Apple_Reminders_2697653.ico">

    <script src="../../libs/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="../../libs/js/bootstrap.min.js"></script>
    <link href="../../libs/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../../libs/css/main.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../libs/css/calendar.css" media="screen"/>
    <script src="../../libs/js/custom.js"></script>
</head>
<body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="col">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"></li>
                            <a class="navbar-brand" href="main.html">Agenda Online</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                              <img src="../../img/icons8_notification_20px.png">
                              Compromissos</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="commitment.html">Adcionar</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="listCommitement.html">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                              <img src="../../img/icons8_contacts_20px_2.png">
                              Contatos</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="contacts.html">Adcionar</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="listContacts.html">Listar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-auto">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><img src="../../img/icons8_search_20px_1.png"></button>      
                </form>
            </div>
            <div class="col col-lg-1" style="padding-right: 0; padding-left: 0;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Olá Messias
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Editar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
          <!--/Navigation -->

          <div class="container" style="margin-top: 40px;">
            <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Local</th>
                  <th scope="col">Data</th>
                  <th scope="col">Endereço</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Nascimento</td>
                  <td>Hospital</td>
                  <td>19/07/1992 05:35</td>
                  <td>Rua Carlos Johancem , 513</td>
                </tr>
              </tbody>
            </table>
          </div>

</body>

</html>